$container-max-widths: (
  sm: 540px,    // Container width on small screens
  md: 600px,    // Container width on medium screens
  lg: 760px,    // Container width on large screens
  xl: 800,   // Reduced width on extra-large screens
  xxl: 700px   // Reduced width on extra-extra-large screens
) !default;

:root {
  --bs-border-width: 2px !important;            // Custom border width
  --bs-border-style: solid !important;          // Custom border style
  --bs-border-color:rgb(102, 153, 204) !important;        // Custom border color (Tomato color)
}
.extended_network {
  border-width: var(--bs-border-width);
  border-style: var(--bs-border-style);
  border-color: rgb(0, 4, 8) !important;
}
.extended_padding{
  margin: 20px 20px 20px 20px !important
}

@import "./cus_variables.scss";  // Custom variables first
@import "../../node_modules/bootstrap/scss/functions";  // Import Bootstrap functions (if needed)
@import "../../node_modules/bootstrap/scss/mixins";  // Import mixins after
@import "../../node_modules/bootstrap/scss/bootstrap";  // Finally, import Bootstrap's full styles


.s{
 background-color: rgb(252, 252, 252);

}
.container{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 800px !important;
  }
}
.nav-link{
  color: white !important;
  padding-right: 10px !important;
}
.nav-bckgrnd{
  background-color: rgb(39, 30, 89);
  height: 151px
}

.nav-link-background{
  background-color: rgb(102, 153, 204);
}
.search-barc{
  padding-top: 10px;
}
.search_bar
.search{
  width: 100px
}
.small-intro{
  padding-top: 0px;
}
.bio-info{
font-size: x-small;
}
.bio-quote{
  padding-top: 10px;
}
.last_login{
  padding-top: 22px;
  font-size: x-small;

}

.myway_url{
margin-bottom: 0px !important;
}
.contact_center, .url_center{
  margin-bottom: 10px;
}
.contact_title{
  background-color: rgb(102, 153, 204);
  padding-bottom: 4px;
}
.title_name{
  font: white;
margin: 0px !important;
}
.messages{
  margin-top: 4px !important;
  margin-bottom: 10px !important;
}
.topic_{
background-color: rgb(177, 208, 240) !important;
padding: 10px;
}

.interest_border{
  background-color: rgb(102, 153, 204);
  color: wheat;
}
.interest_title{ 
  color: rgb(254, 254, 254);
  margin-bottom: 0px;
}
.interest{
  padding-left: 0px;
  padding-right: 0px;
}
.table_interest{
padding: 3px
}
.table{
  margin-bottom: 0px !important;
}